<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据属性选择页面</title>
</head>
<body>
    <h1>欢迎来到数据集属性选择页面</h1>
    <form action="/dataex/to_feedback" method="post">
        <input type = "checkbox" name = "hobby" value="game"/>游戏
        <input type = "checkbox" name = "hobby" value="sport"/>运动
        <input type = "checkbox" name = "hobby" value="tv"/>看电视
        <input type = "checkbox" name = "hobby" value="coding"/>编程
        <hr/>
        <input type="submit" value="确认"/>
    </form>
</body>
</html>