<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>样本反馈和数据标记页面</title>
</head>
<body>
    <h1>样本反馈</h1>
    <form action="/dataex/dataFeedback" method="post">
            篮球：<input type = "radio" name = "basket" value="1"/>喜欢
            <input type = "radio" name = "basket" value="0"/>不喜欢
            <hr/>
            乒乓球：<input type = "radio" name = "ping" value="1"/>喜欢
            <input type = "radio" name = "ping" value="0"/>不喜欢
            <hr/>
        <input type="submit" value="确认"/>
    </form>
</body>
</html>